name: Build Android APK
on:
  push:
    paths:
      - 'app-settings.json'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Cordova
        run: npm install -g cordova

      - name: Create App and Build
        run: |
          cordova create myApp com.bittu.app "AppMaker"
          cd myApp
          cordova platform add android@12.0.0
          
          # JSON से डेटा निकाल कर फालतू स्पेस हटाना
          APP_NAME=$(jq -r '.app_name' ../app-settings.json | tr -d '\n\r')
          WEB_URL=$(jq -r '.web_url' ../app-settings.json | tr -d '\n\r')
          
          sed -i "s|src=\"index.html\"|src=\"$WEB_URL\"|" config.xml
          sed -i "s|<name>AppMaker</name>|<name>$APP_NAME</name>|" config.xml
          
          chmod +x platforms/android/gradlew
          cordova build android --debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Generated-APK
          path: myApp/platforms/android/app/build/outputs/apk/debug/app-debug.apk
          
